<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:x="http://www.sitecore.net/xmlconfig/">
  <sitecore>

    <settings>
      <setting name="ParTech.PerformanceMonitor.Enabled" value="true" />
    </settings>
    
    <pipelines>
      <initialize>
        <processor x:before="*[1]" type="ParTech.Pipelines.PerformanceMonitor.Start, ParTech.Library">
          <param desc="pipelineName">initialize</param>
        </processor>
        <processor x:before="*[999]" type="ParTech.Pipelines.PerformanceMonitor.End, ParTech.Library">
          <param desc="pipelineName">initialize</param>
        </processor>
      </initialize>
      <shutdown>
        <processor x:before="*[1]" type="ParTech.Pipelines.PerformanceMonitor.Start, ParTech.Library">
          <param desc="pipelineName">shutdown</param>
        </processor>
        <processor x:before="*[999]" type="ParTech.Pipelines.PerformanceMonitor.End, ParTech.Library">
          <param desc="pipelineName">shutdown</param>
        </processor>
      </shutdown>
      <preprocessRequest>
        <processor x:before="*[1]" type="ParTech.Pipelines.PerformanceMonitor.Start, ParTech.Library">
          <param desc="pipelineName">preprocessRequest</param>
        </processor>
        <processor x:before="*[999]" type="ParTech.Pipelines.PerformanceMonitor.End, ParTech.Library">
          <param desc="pipelineName">preprocessRequest</param>
        </processor>
      </preprocessRequest>
      <hasPresentation>
        <processor x:before="*[1]" type="ParTech.Pipelines.PerformanceMonitor.Start, ParTech.Library">
          <param desc="pipelineName">hasPresentation</param>
        </processor>
        <processor x:before="*[999]" type="ParTech.Pipelines.PerformanceMonitor.End, ParTech.Library">
          <param desc="pipelineName">hasPresentation</param>
        </processor>
      </hasPresentation>
      <httpRequestBegin>
        <processor x:before="*[1]" type="ParTech.Pipelines.PerformanceMonitor.Start, ParTech.Library">
          <param desc="pipelineName">httpRequestBegin</param>
        </processor>
        <processor x:before="*[999]" type="ParTech.Pipelines.PerformanceMonitor.End, ParTech.Library">
          <param desc="pipelineName">httpRequestBegin</param>
        </processor>
      </httpRequestBegin>
      <httpRequestProcessed>
        <processor x:before="*[1]" type="ParTech.Pipelines.PerformanceMonitor.Start, ParTech.Library">
          <param desc="pipelineName">httpRequestProcessed</param>
        </processor>
        <processor x:before="*[999]" type="ParTech.Pipelines.PerformanceMonitor.End, ParTech.Library">
          <param desc="pipelineName">httpRequestProcessed</param>
        </processor>
      </httpRequestProcessed>
      <httpRequestEnd>
        <processor x:before="*[1]" type="ParTech.Pipelines.PerformanceMonitor.Start, ParTech.Library">
          <param desc="pipelineName">httpRequestEnd</param>
        </processor>
        <processor x:before="*[999]" type="ParTech.Pipelines.PerformanceMonitor.End, ParTech.Library">
          <param desc="pipelineName">httpRequestEnd</param>
        </processor>
      </httpRequestEnd>
      <job>
        <processor x:before="*[1]" type="ParTech.Pipelines.PerformanceMonitor.Start, ParTech.Library">
          <param desc="pipelineName">job</param>
        </processor>
        <processor x:before="*[999]" type="ParTech.Pipelines.PerformanceMonitor.End, ParTech.Library">
          <param desc="pipelineName">job</param>
        </processor>
      </job>
      <sessionEnd>
        <processor x:before="*[1]" type="ParTech.Pipelines.PerformanceMonitor.Start, ParTech.Library">
          <param desc="pipelineName">sessionEnd</param>
        </processor>
        <processor x:before="*[999]" type="ParTech.Pipelines.PerformanceMonitor.End, ParTech.Library">
          <param desc="pipelineName">sessionEnd</param>
        </processor>
      </sessionEnd>
      <getMediaStream>
        <processor x:before="*[1]" type="ParTech.Pipelines.PerformanceMonitor.Start, ParTech.Library">
          <param desc="pipelineName">getMediaStream</param>
        </processor>
        <processor x:before="*[999]" type="ParTech.Pipelines.PerformanceMonitor.End, ParTech.Library">
          <param desc="pipelineName">getMediaStream</param>
        </processor>
      </getMediaStream>
      <setupEditFrame>
        <processor x:before="*[1]" type="ParTech.Pipelines.PerformanceMonitor.Start, ParTech.Library">
          <param desc="pipelineName">setupEditFrame</param>
        </processor>
        <processor x:before="*[999]" type="ParTech.Pipelines.PerformanceMonitor.End, ParTech.Library">
          <param desc="pipelineName">setupEditFrame</param>
        </processor>
      </setupEditFrame>
      <convertToDesignTimeHtml>
        <processor x:before="*[1]" type="ParTech.Pipelines.PerformanceMonitor.Start, ParTech.Library">
          <param desc="pipelineName">convertToDesignTimeHtml</param>
        </processor>
        <processor x:before="*[999]" type="ParTech.Pipelines.PerformanceMonitor.End, ParTech.Library">
          <param desc="pipelineName">convertToDesignTimeHtml</param>
        </processor>
      </convertToDesignTimeHtml>
      <convertToRuntimeHtml>
        <processor x:before="*[1]" type="ParTech.Pipelines.PerformanceMonitor.Start, ParTech.Library">
          <param desc="pipelineName">convertToRuntimeHtml</param>
        </processor>
        <processor x:before="*[999]" type="ParTech.Pipelines.PerformanceMonitor.End, ParTech.Library">
          <param desc="pipelineName">convertToRuntimeHtml</param>
        </processor>
      </convertToRuntimeHtml>
      <getLookupSourceItems>
        <processor x:before="*[1]" type="ParTech.Pipelines.PerformanceMonitor.Start, ParTech.Library">
          <param desc="pipelineName">getLookupSourceItems</param>
        </processor>
        <processor x:before="*[999]" type="ParTech.Pipelines.PerformanceMonitor.End, ParTech.Library">
          <param desc="pipelineName">getLookupSourceItems</param>
        </processor>
      </getLookupSourceItems>
      <getPagePreviewUrl>
        <processor x:before="*[1]" type="ParTech.Pipelines.PerformanceMonitor.Start, ParTech.Library">
          <param desc="pipelineName">getPagePreviewUrl</param>
        </processor>
        <processor x:before="*[999]" type="ParTech.Pipelines.PerformanceMonitor.End, ParTech.Library">
          <param desc="pipelineName">getPagePreviewUrl</param>
        </processor>
      </getPagePreviewUrl>
      <getContentEditorWarnings>
        <processor x:before="*[1]" type="ParTech.Pipelines.PerformanceMonitor.Start, ParTech.Library">
          <param desc="pipelineName">getContentEditorWarnings</param>
        </processor>
        <processor x:before="*[999]" type="ParTech.Pipelines.PerformanceMonitor.End, ParTech.Library">
          <param desc="pipelineName">getContentEditorWarnings</param>
        </processor>
      </getContentEditorWarnings>
      <getPlaceholderRenderings>
        <processor x:before="*[1]" type="ParTech.Pipelines.PerformanceMonitor.Start, ParTech.Library">
          <param desc="pipelineName">getPlaceholderRenderings</param>
        </processor>
        <processor x:before="*[999]" type="ParTech.Pipelines.PerformanceMonitor.End, ParTech.Library">
          <param desc="pipelineName">getPlaceholderRenderings</param>
        </processor>
      </getPlaceholderRenderings>
      <getSyndicationWarnings>
        <processor x:before="*[1]" type="ParTech.Pipelines.PerformanceMonitor.Start, ParTech.Library">
          <param desc="pipelineName">getSyndicationWarnings</param>
        </processor>
        <processor x:before="*[999]" type="ParTech.Pipelines.PerformanceMonitor.End, ParTech.Library">
          <param desc="pipelineName">getSyndicationWarnings</param>
        </processor>
      </getSyndicationWarnings>
      <getChromeData>
        <processor x:before="*[1]" type="ParTech.Pipelines.PerformanceMonitor.Start, ParTech.Library">
          <param desc="pipelineName">getChromeData</param>
        </processor>
        <processor x:before="*[999]" type="ParTech.Pipelines.PerformanceMonitor.End, ParTech.Library">
          <param desc="pipelineName">getChromeData</param>
        </processor>
      </getChromeData>
      <getRenderingDatasource>
        <processor x:before="*[1]" type="ParTech.Pipelines.PerformanceMonitor.Start, ParTech.Library">
          <param desc="pipelineName">getRenderingDatasource</param>
        </processor>
        <processor x:before="*[999]" type="ParTech.Pipelines.PerformanceMonitor.End, ParTech.Library">
          <param desc="pipelineName">getRenderingDatasource</param>
        </processor>
      </getRenderingDatasource>
      <renderField>
        <processor x:before="*[1]" type="ParTech.Pipelines.PerformanceMonitor.Start, ParTech.Library">
          <param desc="pipelineName">renderField</param>
        </processor>
        <processor x:before="*[999]" type="ParTech.Pipelines.PerformanceMonitor.End, ParTech.Library">
          <param desc="pipelineName">renderField</param>
        </processor>
      </renderField>
      <search>
        <processor x:before="*[1]" type="ParTech.Pipelines.PerformanceMonitor.Start, ParTech.Library">
          <param desc="pipelineName">search</param>
        </processor>
        <processor x:before="*[999]" type="ParTech.Pipelines.PerformanceMonitor.End, ParTech.Library">
          <param desc="pipelineName">search</param>
        </processor>
      </search>
      <filterItem>
        <!--
        <processor x:before="*[1]" type="ParTech.Pipelines.PerformanceMonitor.Start, ParTech.Library">
          <param desc="pipelineName">filterItem</param>
        </processor>
        <processor x:before="*[999]" type="ParTech.Pipelines.PerformanceMonitor.End, ParTech.Library">
          <param desc="pipelineName">filterItem</param>
        </processor>
        -->
      </filterItem>
      <word.parseDocx>
        <processor x:before="*[1]" type="ParTech.Pipelines.PerformanceMonitor.Start, ParTech.Library">
          <param desc="pipelineName">word.parseDocx</param>
        </processor>
        <processor x:before="*[999]" type="ParTech.Pipelines.PerformanceMonitor.End, ParTech.Library">
          <param desc="pipelineName">word.parseDocx</param>
        </processor>
      </word.parseDocx>
      <word.renderHtml>
        <processor x:before="*[1]" type="ParTech.Pipelines.PerformanceMonitor.Start, ParTech.Library">
          <param desc="pipelineName">word.renderHtml</param>
        </processor>
        <processor x:before="*[999]" type="ParTech.Pipelines.PerformanceMonitor.End, ParTech.Library">
          <param desc="pipelineName">word.renderHtml</param>
        </processor>
      </word.renderHtml>
      <getItemPersonalizationVisibility>
        <processor x:before="*[1]" type="ParTech.Pipelines.PerformanceMonitor.Start, ParTech.Library">
          <param desc="pipelineName">getItemPersonalizationVisibility</param>
        </processor>
        <processor x:before="*[999]" type="ParTech.Pipelines.PerformanceMonitor.End, ParTech.Library">
          <param desc="pipelineName">getItemPersonalizationVisibility</param>
        </processor>
      </getItemPersonalizationVisibility>
      <getTranslation>
        <processor x:before="*[1]" type="ParTech.Pipelines.PerformanceMonitor.Start, ParTech.Library">
          <param desc="pipelineName">getTranslation</param>
        </processor>
        <processor x:before="*[999]" type="ParTech.Pipelines.PerformanceMonitor.End, ParTech.Library">
          <param desc="pipelineName">getTranslation</param>
        </processor>
      </getTranslation>
      <insertRenderings>
        <processor x:before="*[1]" type="ParTech.Pipelines.PerformanceMonitor.Start, ParTech.Library">
          <param desc="pipelineName">getItemPersonalizationVisibility</param>
        </processor>
        <processor x:before="*[999]" type="ParTech.Pipelines.PerformanceMonitor.End, ParTech.Library">
          <param desc="pipelineName">getItemPersonalizationVisibility</param>
        </processor>
      </insertRenderings>
      <publish>
        <processor x:before="*[1]" type="ParTech.Pipelines.PerformanceMonitor.Start, ParTech.Library">
          <param desc="pipelineName">getItemPersonalizationVisibility</param>
        </processor>
        <processor x:before="*[999]" type="ParTech.Pipelines.PerformanceMonitor.End, ParTech.Library">
          <param desc="pipelineName">getItemPersonalizationVisibility</param>
        </processor>
      </publish>
      <publishItem>
        <processor x:before="*[1]" type="ParTech.Pipelines.PerformanceMonitor.Start, ParTech.Library">
          <param desc="pipelineName">getItemPersonalizationVisibility</param>
        </processor>
        <processor x:before="*[999]" type="ParTech.Pipelines.PerformanceMonitor.End, ParTech.Library">
          <param desc="pipelineName">getItemPersonalizationVisibility</param>
        </processor>
      </publishItem>
      <renderLayout>
        <processor x:before="*[1]" type="ParTech.Pipelines.PerformanceMonitor.Start, ParTech.Library">
          <param desc="pipelineName">getItemPersonalizationVisibility</param>
        </processor>
        <processor x:before="*[999]" type="ParTech.Pipelines.PerformanceMonitor.End, ParTech.Library">
          <param desc="pipelineName">getItemPersonalizationVisibility</param>
        </processor>
      </renderLayout>
      <healthMonitor>
        <processor x:before="*[1]" type="ParTech.Pipelines.PerformanceMonitor.Start, ParTech.Library">
          <param desc="pipelineName">getItemPersonalizationVisibility</param>
        </processor>
        <processor x:before="*[999]" type="ParTech.Pipelines.PerformanceMonitor.End, ParTech.Library">
          <param desc="pipelineName">getItemPersonalizationVisibility</param>
        </processor>
      </healthMonitor>
      <expandInitialFieldValue>
        <processor x:before="*[1]" type="ParTech.Pipelines.PerformanceMonitor.Start, ParTech.Library">
          <param desc="pipelineName">getItemPersonalizationVisibility</param>
        </processor>
        <processor x:before="*[999]" type="ParTech.Pipelines.PerformanceMonitor.End, ParTech.Library">
          <param desc="pipelineName">getItemPersonalizationVisibility</param>
        </processor>
      </expandInitialFieldValue>
      <expandBranchItemName>
        <processor x:before="*[1]" type="ParTech.Pipelines.PerformanceMonitor.Start, ParTech.Library">
          <param desc="pipelineName">getItemPersonalizationVisibility</param>
        </processor>
        <processor x:before="*[999]" type="ParTech.Pipelines.PerformanceMonitor.End, ParTech.Library">
          <param desc="pipelineName">getItemPersonalizationVisibility</param>
        </processor>
      </expandBranchItemName>
      <fixXHtml>
        <processor x:before="*[1]" type="ParTech.Pipelines.PerformanceMonitor.Start, ParTech.Library">
          <param desc="pipelineName">getItemPersonalizationVisibility</param>
        </processor>
        <processor x:before="*[999]" type="ParTech.Pipelines.PerformanceMonitor.End, ParTech.Library">
          <param desc="pipelineName">getItemPersonalizationVisibility</param>
        </processor>
      </fixXHtml>
      <renderItemTile>
        <processor x:before="*[1]" type="ParTech.Pipelines.PerformanceMonitor.Start, ParTech.Library">
          <param desc="pipelineName">getItemPersonalizationVisibility</param>
        </processor>
        <processor x:before="*[999]" type="ParTech.Pipelines.PerformanceMonitor.End, ParTech.Library">
          <param desc="pipelineName">getItemPersonalizationVisibility</param>
        </processor>
      </renderItemTile>
      <getAboutInformation>
        <processor x:before="*[1]" type="ParTech.Pipelines.PerformanceMonitor.Start, ParTech.Library">
          <param desc="pipelineName">getItemPersonalizationVisibility</param>
        </processor>
        <processor x:before="*[999]" type="ParTech.Pipelines.PerformanceMonitor.End, ParTech.Library">
          <param desc="pipelineName">getItemPersonalizationVisibility</param>
        </processor>
      </getAboutInformation>
      <getMediaCreatorOptions>
        <processor x:before="*[1]" type="ParTech.Pipelines.PerformanceMonitor.Start, ParTech.Library">
          <param desc="pipelineName">getItemPersonalizationVisibility</param>
        </processor>
        <processor x:before="*[999]" type="ParTech.Pipelines.PerformanceMonitor.End, ParTech.Library">
          <param desc="pipelineName">getItemPersonalizationVisibility</param>
        </processor>
      </getMediaCreatorOptions>
      <getPageEditorNotifications>
        <processor x:before="*[1]" type="ParTech.Pipelines.PerformanceMonitor.Start, ParTech.Library">
          <param desc="pipelineName">getItemPersonalizationVisibility</param>
        </processor>
        <processor x:before="*[999]" type="ParTech.Pipelines.PerformanceMonitor.End, ParTech.Library">
          <param desc="pipelineName">getItemPersonalizationVisibility</param>
        </processor>
      </getPageEditorNotifications>
      <getPageEditorValidators>
        <processor x:before="*[1]" type="ParTech.Pipelines.PerformanceMonitor.Start, ParTech.Library">
          <param desc="pipelineName">getItemPersonalizationVisibility</param>
        </processor>
        <processor x:before="*[999]" type="ParTech.Pipelines.PerformanceMonitor.End, ParTech.Library">
          <param desc="pipelineName">getItemPersonalizationVisibility</param>
        </processor>
      </getPageEditorValidators>
      <getRenderingPreview>
        <processor x:before="*[1]" type="ParTech.Pipelines.PerformanceMonitor.Start, ParTech.Library">
          <param desc="pipelineName">getItemPersonalizationVisibility</param>
        </processor>
        <processor x:before="*[999]" type="ParTech.Pipelines.PerformanceMonitor.End, ParTech.Library">
          <param desc="pipelineName">getItemPersonalizationVisibility</param>
        </processor>
      </getRenderingPreview>
      <getContentEditorFields>
        <processor x:before="*[1]" type="ParTech.Pipelines.PerformanceMonitor.Start, ParTech.Library">
          <param desc="pipelineName">getItemPersonalizationVisibility</param>
        </processor>
        <processor x:before="*[999]" type="ParTech.Pipelines.PerformanceMonitor.End, ParTech.Library">
          <param desc="pipelineName">getItemPersonalizationVisibility</param>
        </processor>
      </getContentEditorFields>
      <getContentEditorSkin>
        <processor x:before="*[1]" type="ParTech.Pipelines.PerformanceMonitor.Start, ParTech.Library">
          <param desc="pipelineName">getItemPersonalizationVisibility</param>
        </processor>
        <processor x:before="*[999]" type="ParTech.Pipelines.PerformanceMonitor.End, ParTech.Library">
          <param desc="pipelineName">getItemPersonalizationVisibility</param>
        </processor>
      </getContentEditorSkin>
      <getQueryState>
        <processor x:before="*[1]" type="ParTech.Pipelines.PerformanceMonitor.Start, ParTech.Library">
          <param desc="pipelineName">getItemPersonalizationVisibility</param>
        </processor>
        <processor x:before="*[999]" type="ParTech.Pipelines.PerformanceMonitor.End, ParTech.Library">
          <param desc="pipelineName">getItemPersonalizationVisibility</param>
        </processor>
      </getQueryState>
      <resolveRenderingDatasource>
        <processor x:before="*[1]" type="ParTech.Pipelines.PerformanceMonitor.Start, ParTech.Library">
          <param desc="pipelineName">getItemPersonalizationVisibility</param>
        </processor>
        <processor x:before="*[999]" type="ParTech.Pipelines.PerformanceMonitor.End, ParTech.Library">
          <param desc="pipelineName">getItemPersonalizationVisibility</param>
        </processor>
      </resolveRenderingDatasource>
      <executePageEditorAction>
        <processor x:before="*[1]" type="ParTech.Pipelines.PerformanceMonitor.Start, ParTech.Library">
          <param desc="pipelineName">getItemPersonalizationVisibility</param>
        </processor>
        <processor x:before="*[999]" type="ParTech.Pipelines.PerformanceMonitor.End, ParTech.Library">
          <param desc="pipelineName">getItemPersonalizationVisibility</param>
        </processor>
      </executePageEditorAction>
      <renderContentEditor>
        <processor x:before="*[1]" type="ParTech.Pipelines.PerformanceMonitor.Start, ParTech.Library">
          <param desc="pipelineName">getItemPersonalizationVisibility</param>
        </processor>
        <processor x:before="*[999]" type="ParTech.Pipelines.PerformanceMonitor.End, ParTech.Library">
          <param desc="pipelineName">getItemPersonalizationVisibility</param>
        </processor>
      </renderContentEditor>
      <loadRichTextContent>
        <processor x:before="*[1]" type="ParTech.Pipelines.PerformanceMonitor.Start, ParTech.Library">
          <param desc="pipelineName">getItemPersonalizationVisibility</param>
        </processor>
        <processor x:before="*[999]" type="ParTech.Pipelines.PerformanceMonitor.End, ParTech.Library">
          <param desc="pipelineName">getItemPersonalizationVisibility</param>
        </processor>
      </loadRichTextContent>
      <saveRichTextContent>
        <processor x:before="*[1]" type="ParTech.Pipelines.PerformanceMonitor.Start, ParTech.Library">
          <param desc="pipelineName">getItemPersonalizationVisibility</param>
        </processor>
        <processor x:before="*[999]" type="ParTech.Pipelines.PerformanceMonitor.End, ParTech.Library">
          <param desc="pipelineName">getItemPersonalizationVisibility</param>
        </processor>
      </saveRichTextContent>
      <findVisitorEmailAddress>
        <processor x:before="*[1]" type="ParTech.Pipelines.PerformanceMonitor.Start, ParTech.Library">
          <param desc="pipelineName">getItemPersonalizationVisibility</param>
        </processor>
        <processor x:before="*[999]" type="ParTech.Pipelines.PerformanceMonitor.End, ParTech.Library">
          <param desc="pipelineName">getItemPersonalizationVisibility</param>
        </processor>
      </findVisitorEmailAddress>
    </pipelines>

  </sitecore>
</configuration>